.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  row-gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .grid-container {
    margin: 2rem auto;
    width: 80%;
  }
}

@media (min-width: 1536px) {
  .grid-container {
    width: 60%;
  }
}
