.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #333;
  max-width: 48rem;
}

.btn {
  background: #eee;
  border: 0.125rem solid #eee;
  border-radius: 0.5rem;
  padding: 0.375rem 1rem;
}

.error-badge {
  text-align: center;
}

.error-badge span {
  background: lightcoral;
  border-radius: 0.5rem;
  color: maroon;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.location-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0.5rem 0;
}

.text-input {
  border: 0.125rem solid #eee;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
}

input,
label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  row-gap: 1rem;
}

.weather-card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 4.5rem;
  height: 10rem;
}

.weather-icon {
  font-size: 2.5rem;
}

.temps {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.muted {
  color: #666;
}

@media (max-width: 768px) {
  .App {
    width: 90vw;
  }
}
